body, .navbar, table, thead, tbody {
    background-color: #2F303A;
}

body {
    padding-bottom: 70px;
}

.btn {
    background-color: #1762A7;
}

h1, h2, h3, h4, h5, h6, a, p {
    color: white;
}

.fill, .container {
    min-height: 100%;
    height: 100%;
}

.card {
    color: white;
    background-color: #202027;
    border-radius: 10px;
    border-width: 0;
}

footer {
    background-color: #202027;
    width: 100%;
    position: relative;
    margin-top: 0; /* negative value of footer height */
    padding-top:20px;
    margin-bottom: 0;
}

.btn {
    margin-right: 50%;
}
