body, .navbar {
    background-color: #2F303A;
}

.btn {
    background-color: #1762A7;
}

h1, h2, h3, h4, h5, h6, a, p {
    color: white;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.card {
    color: white;
    background-color: #202027;
    border-radius: 10px;
    border-width: 0;
}

.btn {
    margin-right: 50%;
}
